<% include ./partials/header %>
    <div class="container border border-secondary">
        <form action="/forgot" method="post">
            <div class="form-row justify-content-center">
                <div class="col-md-8">
                    <h2 class="text-center">Reset Your Password</h2>
                    <p class="text-center">Please provide the email address you used when you signed up for your YelpCamp account.</p>
                    <p class="text-center">We will send you an email with a link to reset your password.</p>
                </div>
                <div class="col-md-6">
                    <input type="email" class="form-control" name="email" placeholder="maria@franco.com">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-secondary btn-block">Reset Password</button>
                </div>
            </div>
        </form>
    </div>
<% include ./partials/footer %>