<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="text-center">Create a New Campground</h1>
            <div class="mx-auto my-4">
                <form action="/campgrounds" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="campName">Campground Name</label>
                        <input type="text" class="form-control" name="campground[name]" id="campName" placeholder="Campground Name" required>
                    </div>
                    <div class="form-group">
                        <label for="campPrice">Price per Night</label>
                        <input type="number" class="form-control" name="campground[price]" id="campPrice" placeholder="Price per Night" min="0" step="0.01" required>
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input class="form-control" type="text" name="campground[location]" id="location" placeholder="Yosemite National Park, CA" required>
                    </div>
                     <div class="form-group">
                        <label for="desc">Description</label>
                        <textarea class="form-control" name="campground[description]" id="desc" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="imageURL">Image</label>
                        <input type="file" id="image" name="image" accept="image/*" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary btn-block">Create Campground</button>
                    </div>
                </form>
                <div><a href="/campgrounds"><< Go Back</a></div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<% include ../partials/footer %>