body {
    padding-top: 80px;
}

.search-btn {
    color: #f1f1f1;
    background-color: #A258A3;
    border-color: #A258A3;
}

.search-btn:hover {
    background-color: #333;
    border-color: #333;
}

.img-thumbnail {
    padding: 0;
    margin-bottom: 1em;
}

.img-thumbnail img {
     width: 100%;
}

label {
    font-weight: bold;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.forms {
    width: 60%;
}

.icon-btn {
    width: 1.5rem;
}

.avatar {
    border-radius: 50%;
    width: calc(1.8rem - 2px);
    border: 2px solid #4d4d4d;
}

.avatar:hover, .navbar-light .navbar-nav .active > .nav-link .avatar { 
    border-color: #a258a3;
}

.navbar-light .navbar-nav .active > .nav-link {
    border-bottom: 2px solid #A258A3;
}

.logo-jumbotron {
    width: 5rem;
    vertical-align: baseline;
}

button .close {
    color: #A258A3;
}
.modal-footer {
    justify-content: center;
    background-color: #F3F2F0;
    border-color: #A258A3;
}

@media (max-width: 768px) {
    .forms {
        width: 100%;
    }
}
